*{
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans", sans-serif;
  background-color: #000000;
  color: white;
  font-size: 10px;
}
.weather_app {
  margin: 30px auto;
  padding: 15px;
  border-radius: 7px;
  max-width: 800px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #051a3f;
}

.input-search {
  border: none;
  padding: 15px 15px;
  width: 80%;
  border-radius: 10px;
  background-color: #000000;
  color: white;
}
.submit-search {
  padding: 15px 15px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color:  #000000;
  width: 19%;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.weather-details {
  display: flex;
  flex-direction: column;
  gap: 10%;
  width: 70%;
}
.weather-data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.temperature {
  font-size: 40px;
}
.today-icon {
  font-size: 100px;
  margin-right: 30px;
  width: 100%;
  height: 100%;
}

.daytimeBox {
  border-right: 2px solid white;
  padding: 0 10px;
  text-align: center;
  font-size: 12px;
}
.icon {
  font-size: 30px;
}
.daytime {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.air-conditions {
  margin-top: 10px;
  background-color:  #000000;
  border-radius: 10px;
  padding: 10px;
}
.seven-day-forcast {
  background-color:  #000000;
  width: 30%;
  margin: 0 0 0 10px;
  padding: 10px;
  border-radius: 10px;
}
.details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}
.detailBox {
  width: 48%;
  font-size: 12px;
  box-sizing: border-box;
}

.forcastday p {
  justify-content: space-between;
}
.seven-day-wrapper {
  display: flex;
  flex-direction: column;
  padding: 17px;
}
.forcastday {
  height: 100%;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer {
  text-align: center;
}
a {
  color: blueviolet;
}
#todaysDate {
  padding: 0 50px;
}
@media screen and (max-width: 550px) {
  main{
    flex-direction: column;
    gap: 10px;
  }
 .seven-day-forcast {
    width: 100%;
    margin: 0px;
  }
  .weather-details {
    width: 100%;
  } 
}